body {
    text-align: justify;
}
ol {
    margin-left: -17px;
    list-style-type: none;
    padding: 0;
    counter-reset: listcounter;
}
ol > li::before {
    text-align: right;
    display: inline-block; 
    padding-right: 10px;
    font-style:normal;

    width: 23px; 
    content: counter(listcounter, decimal) ". ";
}
ol > li {
    counter-increment: listcounter;
}
ol.parenthesis > li::before {
    width: 41px; 
    content: "(" counter(listcounter, lower-roman) ") ";
}
p.proof {
    overflow: hidden;
}
.tocpage ol{
    margin-left: 0px;
    padding-left: 30px;
}
ol.upperroman > li{
    margin-left: -17px;
}
ol.upperroman > li::before {
    width: 26px;
    content: counter(listcounter, upper-roman) ". ";
}